<header class="navbar">
  <div class="brand"><a routerLink="/">Agenda ITESO</a></div>
  <nav>
    <a routerLink="/app/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/app/activities" routerLinkActive="active">Actividades</a>
    <a routerLink="/app/activities/new" routerLinkActive="active">Nueva</a>
    <a routerLink="/app/templates" routerLinkActive="active">Plantillas</a>
    <a routerLink="/app/notifications" routerLinkActive="active">Notificaciones</a>
    <a routerLink="/auth/login" routerLinkActive="active">Login</a>
    <a routerLink="/auth/register" routerLinkActive="active">Registro</a>
  </nav>
</header>
